CSS

@import url('https://fonts.googleapis.com/css?family=Comfortaa': 100,200,300,400,500,600,700,800,900!);

/*----------------------------------------------------font*/

header {
    background-color: #ffffff;
    overflow: auto;
    display: block;
    padding: 10px;
    margin: 10px;
    position: absolute;

}
 .container-fluid-header {
     text-align: center;
 }

.logo {
    background-position: center;
    min-height: 50px;
    min-width: 50px;
    height: auto;
    background-repeat: no-repeat;
    margin: 0;
    text-align: center;
    display: center;

}

.list-inline {
    margin: 0px;
    padding: 10px;

}

.home {
    margin: 50px;
    color: #38442C;
    font-size: 20px;
    letter-spacing: 4px;
    font-family: Comfortaa, sans-serif;
    text-align: center;
    text-decoration: none;

}

.service {

    margin: 50px;

    color: #38442C;

    font-size: 20px;

    letter-spacing: 4px;

    font-family: Comfortaa, sans-serif;

    text-decoration: none;

    text-align: center;

}

.gallery {

    margin: 50px;

    color: #38442C;

    font-size: 20px;

    letter-spacing: 4px;

    font-family: Comfortaa, sans-serif;

    text-decoration: none;

    text-align: center;

}

.contact {

    margin: 50px;

    color: #38442C;

    font-size: 20px;

    letter-spacing: 4px;

    font-family: Comfortaa, sans-serif;

    text-decoration: none;

    text-align: center;

}

.name {

    margin: 50px;

    color: #38442C;

    font-size: 50px;

    letter-spacing: 4px;

    font-family: Comfortaa, sans-serif;

}

.clearfix a {
    text-decoration: none;
}

.hvr-reveal {

    height: 50px;
    width: 200px;
    text-align: center;
    padding-bottom: 5px;

}

/*----------------------------------------------------header*/

footer {
    background-color: #97A99B;
    display: inline-block;
    margin: auto;
    min-height: 120px;
}

.footer-about {
    font-family: Comfortaa, sans-serif;
    color: #ffffff;
}

.footer-contact {
    font-family: Comfortaa, sans-serif;
    color: #ffffff;
}

.footer-contact a {
    color: #2c3021;
}

.navigation {
    font-family: Comfortaa, sans-serif;
    padding: 15px;
    text-align: center;
    color: #2c3021;
    font-size: 20px;
    
}

/*----------------------------------------------------footer*/

section {
    background-color: #ffffff;
    padding: 0;
    margin: 0;

}

/*----------------------------------------------------section*/

/*----------------------------------------------------home*/

.container-fluid-section p {
    text-align: center;
    padding: 5px;
}

.service-1 {
    height: 20%;
    background-repeat: no-repeat;
    background-position: center;
}

/*----------------------------------------------------service*/

/*----------------------------------------------------gallery*/

.container-fluid-section {
    padding: 100px;
    text-align: right;
}

.container-fluid-section p {
    padding: 5px;
    text-align: right;
}

/*----------------------------------------------------contact*/

.container-fluid-research {
    margin: 0 auto;
    padding: 50px;
}


/*----------------------------------------------------research*/