CSS

@import url('https://fonts.googleapis.com/css?family=Comfortaa': 100,200,300,400,500,600,700,800,900!);

/*----------------------------------------------------font*/

header {
    background-color: #ffffff;
    padding: 10px;
    margin: 10px;

}
 .container-fluid-header {
     text-align: center;
 }

.logo {
    background-position: center;
    min-height: 50px;
    min-width: 50px;
    height: auto;
    background-repeat: no-repeat;
    margin: 0;
    text-align: center;
}

.name {
    background-position: center;
}
.home {
    margin: 50px;
    color: #38442C;
    font-size: 20px;
    letter-spacing: 4px;
    font-family: Comfortaa, sans-serif;
    text-align: center;
    text-decoration: none;

}

.service {
    margin: 50px;
    color: #38442C;
    font-size: 20px;
    letter-spacing: 4px;
    font-family: Comfortaa, sans-serif;
    text-decoration: none;
    text-align: center;
}

.gallery {
    margin: 50px;
    color: #38442C;
    font-size: 20px;
    letter-spacing: 4px;
    font-family: Comfortaa, sans-serif;
    text-decoration: none;
    text-align: center;
}

.contact {
    margin: 50px;
    color: #38442C;
    font-size: 20px;
    letter-spacing: 4px;
    font-family: Comfortaa, sans-serif;
    text-decoration: none;
    text-align: center;
}

.name {
    margin: 50px;
    color: #38442C;
    font-size: 50px;
    letter-spacing: 4px;
    font-family: Comfortaa, sans-serif;
}

.clearfix a {
    text-decoration: none;
}

.hvr-reveal {
    height: 50px;
    width: 200px;
    text-align: center;
    padding-bottom: 5px;
}

/*----------------------------------------------------header*/

.menuitems {
    background-color: #97A99B;
    display: inline-block;
    margin: 5px;
}

.footer-about {
    font-family: Comfortaa, sans-serif;
    color: #ffffff;
}

.footer-contact {
    font-family: Comfortaa, sans-serif;
    color: #ffffff;
}

.footer-contact a {
    color: #2c3021;
}

.navigation {
    font-family: Comfortaa, sans-serif;
    padding: 5px;
    text-align: center;
    color: #2c3021;
    font-size: 20px;
    
}

/*----------------------------------------------------footer*/

section {
    background-color: #ffffff;
    padding: 0;
    margin: 0;
}

.container-fluid {
    margin: 5px;
    padding: 100px;
    text-align: center;
    
}
/*----------------------------------------------------section*/

.intro {
    margin-bottom: 5px;
    padding: 10px;
}

button {
    text-decoration: none;
}

/*----------------------------------------------------home*/

.service-image {
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    height: auto;
    max-width: 100%;
    display: block;
}

/*----------------------------------------------------service*/

.gallery-image {
    position: relative;
    display: block;
    margin: 0;
    padding: 5px;
    overflow: hidden;
    height: auto;
    max-width: 100%;
}

/*----------------------------------------------------gallery*/

.social-media {
    font-family: Comfortaa, sans-serif;
    font-weight: 300;
    text-align: center;
}

.contact-form {
    font-family: Comfortaa, sans-serif;
    font-weight: 200;

}

/*----------------------------------------------------contact*/

.container-fluid {
    margin: 0 auto;
    padding: 50px;
}

.social-media {
    text-align: right;
}

.contact-form {
    text-align: left;
}
/*----------------------------------------------------research*/