CSS

@import url('https://fonts.googleapis.com/css?family=Comfortaa': 100,200,300,400,500,600,700,800,900!);

/*----------------------------------------------------font*/

header {
    background-color: #ffffff;
    padding: 10px;
    margin: 10px;
}

.image-fluid {
    size: auto;
    background-repeat: no-repeat;
    margin: 0;
}

.nav-item {
    margin: 50px;
    color: #38442C;
    font-size: 20px;
    letter-spacing: 4px;
    font-family: Comfortaa, sans-serif;
    text-align: center;
    text-decoration: none;
}

.hvr-reveal {
    padding: 10px;
    text-decoration: none;
    color: #38442C;
}

.name {
    margin: 30px;
    color: #38442C;
    font-size: 50px;
    letter-spacing: 4px;
    font-family: Comfortaa, sans-serif;
    background-position: center;
}

/*----------------------------------------------------header*/

footer {
    background-color: #97A99B;
    margin: 0;
}

.navigation {
    font-family: Comfortaa, sans-serif;
    padding: 5px;
    text-align: left;
    color: #2c3021;
    font-size: 15px;
}

/*----------------------------------------------------footer*/

section {
    background-color: #ffffff;
}

/*----------------------------------------------------section*/

.text-center {
    margin-bottom: 5px;
    padding: 10px;
    text-align: center;
}

.heading {
    font-family: Comfortaa, sans-serif;
    color: #2C3021;
    text-decoration: none;
}

.img-thumbnail {
    height: 300px;
}

/*----------------------------------------------------home*/

.service-image {
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    height: auto;
    max-width: 100%;
    display: block;
}

/*----------------------------------------------------service*/

.gallery-image {
    position: relative;
    display: block;
    margin: 0;
    padding: 5px;
    overflow: hidden;
    height: auto;
    max-width: 100%;
}

/*----------------------------------------------------gallery*/

.fab {
    font-size: 30px;
}

.contact-form {
    font-family: Comfortaa, sans-serif;
    font-weight: 200;

}

/*----------------------------------------------------contact*/

.social-media {
    text-align: right;
}

.contact-form {
    text-align: left;
}
/*----------------------------------------------------research*/