.slider {
  background: #333;
  height: 400px;
  width: 100%;
}

.navbar-toggler {
  margin-top: 15px;
}

@media screen and (min-width: 992px) {
  .navbar {
      height: 130px;
   }
  #logo {
    width: 260px;
    height: 120px;
    position: relative;
    bottom: -20px;
  }
  .navbar-light .navbar-nav .nav-link {
    padding-right: 75px;
  }
  #nav-left {
    padding-left: 30px;
  }
}

.navbar {
    width: auto;
}

.navbar-brand {
    font-size: 40px;
}
/*----------------------------------------------------header*/
footer {
    width: auto;
    padding: 0;
    margin: 0;
    height: 30px;
}

.nav-item {
    padding: 5px;
}

.nav-link {
    font-size: 10px;
}
/*----------------------------------------------------footer*/
section {
    background-color: #ffffff;
}

.container {
    margin: 0;
    padding: 0;
}
/*----------------------------------------------------section*/
.text-center {
    margin-bottom: 0;
    padding: 20px;
    text-align: center;
}
/*----------------------------------------------------home*/

.btn-md {
    padding: 10px;
}

.card-body {
    padding: 5px;
}

.img-fluid {
    padding: 10px;
}

.fa-bolt {
    padding: 5px;
    text-decoration: none;
}

.btn-md {
    padding: 15px;
}
/*----------------------------------------------------service*/
.gallery-image {
    margin: 0;
    padding: 5px;
    height: auto;
    width: 100%;
}
.border {
    margin: 10px;
}
/*----------------------------------------------------gallery*/

 form {
    margin: 15px;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 10px;
 }
 
 .form-control {
     padding: 15px;
     margin: 5px;
 }
 
 .list-unstyled {
     margin: 0;
     padding: 5px;
 }

.text-primary {
    padding: 5.5px;
}
/*----------------------------------------------------contact*/
.social-media {
    text-align: right;
}
.contact-form {
    text-align: left;
}
/*----------------------------------------------------research*/
.mockup {
    margin: 0;
    padding: 5px;
    height: 30%;
}
.text {
    padding: 5px;
}
.text-mockup {
    padding: 5px;
}
/*----------------------------------------------------mock-up*/

