.slider {
  background: #333;
  height: 400px;
  width: 100%;
}

#logo {
  background: #ccc;
  width: 150px;
  height: 70px;
}

.navbar-toggler {
  margin-top: 15px;
}

@media screen and (min-width: 992px) {
  .navbar {
      height: 130px;
   }
  #logo {
    width: 260px;
    height: 120px;
    position: relative;
    bottom: -20px;
  }
  .navbar-light .navbar-nav .nav-link {
    padding-right: 75px;
  }
  #nav-left {
    padding-left: 30px;
  }
}

.navbar {
    width: auto;
}
/*----------------------------------------------------header*/
footer {
    width: auto;
    padding: 0;
    margin: 0;
    height: 50px;
}

.nav-item {
    padding: 5px;
}
/*----------------------------------------------------footer*/
section {
    background-color: #ffffff;
    
}
/*----------------------------------------------------section*/
.text-center {
    margin-bottom: 5px;
    padding: 20px;
    text-align: center;
}
/*----------------------------------------------------home*/
/*----------------------------------------------------service*/
.gallery-image {
    position: relative;
    display: block;
    margin: 0;
    padding: 5px;
    overflow: hidden;
    height: auto;
    max-width: 100%;
}
.border {
    margin: 10px;
}
/*----------------------------------------------------gallery*/
.fab {
    font-size: 30px;
}
.contact-form {
    font-family: Comfortaa, sans-serif;
    font-weight: 200;
}

/*----------------------------------------------------contact*/
.social-media {
    text-align: right;
}
.contact-form {
    text-align: left;
}
/*----------------------------------------------------research*/
.mockup {
    position: relative;
    display: block;
    margin: 0;
    padding: 5px;
    overflow: hidden;
    height: auto;
    max-width: 100%;
}
.text {
    padding: 5px;
}
.text-mockup {
    padding: 5px;
}
/*----------------------------------------------------mock-up*/

